.pos--container{
  /* background-color: rgb(209, 208, 208); */
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.pos--content__wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }